.statistics {
    &_filters {
        margin: 15px 0;
        display: flex;

        > div {
            padding: 0 10px 0 0;
        }

        &_delimiter {
            line-height: 34px;
            margin: 0 5px;
        }
    }
}
